<div id="<%= dom_id domain %>">
  <p>
    <strong>Domain:</strong>
    <%= domain.domain %>
  </p>

  <p>
    <strong>Www:</strong>
    <%= domain.www %>
  </p>

  <p>
    <strong>Mx:</strong>
    <%= domain.mx %>
  </p>

  <p>
    <strong>DNS:</strong>
    <%= domain.dns %>
  </p>

</div>
